.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1A1B21;
  display: flex;
  justify-content: center;
  align-items: center;
}

.biz-card {
  width: 317px;
  height: 610px;
  flex-shrink: 0;
  background-color: transparent;
  margin-top: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}

.tola-img {
  width: 317px;
  height: 220px;
  border-radius: 10px 10px 0px 0px;
}

.body-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1A1B21;
  margin-top: -4px;
  height: 330px;
  position: relative;
}

.body-div h1 {
  color: #FFF;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  padding-top: 5px;
}

.body-div p {
  color: #F3BF99;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  padding-top: 2px;
}

.body-div a {
  color: #F5F5F5;
  text-align: center;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  padding-top: 2px;
  text-decoration: none;
}

.btn-div {
  display: flex;
  gap: 15px;
  margin-top: 12px;
}

.btn-div button {
  display: flex;
  width: 115px;
  padding: 9px 13px 9px 11px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.email-btn {
  border-radius: 6px;
  border: 1px solid var(--gray-300, #D1D5DB);
  background: var(--white, #FFF);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: var(--gray-700, #374151);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

.mail-img {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.linkedin-btn {
  border-radius: 6px;
  border: 1px solid var(--gray-300, #5093E2);
  background: #5093E2;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}

.bio-section {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 35px;
  gap: 7px;
}

.about-head {
  color: #F5F5F5;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.footer-section {
  width: 317px;
  height: 60px;
  border-radius: 0px 0px 10px 10px;
  background: #161619;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-section img {
  cursor: pointer;
}